h1,
h2,
h3,
 {
  text-align: center;
  font-family: cursive;
  color: black;
  font-size: 30px;
}




body {
  background: rgb(173, 206, 206);
}
submit {
  font-family: cursive;
  background-color: rgb(173, 206, 206);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
button2 {
  font-family: cursive;
  background-color: rgb(61, 156, 156);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container {
  text-align: center;
  width: 50%;
  background: rgb(173, 206, 206);
}

.navbar bg-light {
  text-align: center;
  background: rgb(173, 206, 206);
}
.row {
  text-align: center;
}
div {
  display: block;
  margin: 0 auto;
  background: rgb(173, 206, 206);
}
